@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-color: #4caf50;
  --secondary-color: #388e3c;
  --accent-color: #2e7d32;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --primary-color: #81c784;
    --secondary-color: #66bb6a;
    --accent-color: #388e3c;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0; /* 余白を削除 */
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 画面全体の高さを確保 */
}

#root, .lesson-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* コンテンツを画面全体に広げる */
}

footer {
  margin-top: auto; /* フッターを一番下に配置 */
}

button {
  background-color: var(--primary-color);
  color: var(--foreground);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--secondary-color);
}

/* 不要な線を削除するためのリセット */
header, footer {
  border: none;
  box-shadow: none;
  background-color: var(--secondary-color);
  color: var(--foreground);
}

h1, h2, h3 {
  color: var(--accent-color);
}

.monaco-editor-container {
  all: unset; /* すべてのスタイルをリセット */
}
